.btn {
    position:relative;
    overflow:hidden;
    text-shadow:none;
    border-radius:0;
    z-index:1;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.btn:before {
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.navbar-toggle {padding:0;}
.navbar-toggle > i {margin:5px 0 0 0; font-size:22px;}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.open .dropdown-toggle.btn-default ,
.btn-default:active,
.btn-default.active,
.btn-default.active:hover {
    color: #343434;
    background-color: rgba(242,242,242,0.75);
    border-color: rgba(242,242,242,0.9);
}
.btn-default:hover:before,
.btn-default:focus:before,
.open .dropdown-toggle.btn-default:before ,
.btn-default:active:before,
.btn-default.active:before,
.btn-default.active:hover:before {
    background-color: rgba(242,242,242,0.85);
}

.btn-primary ,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.active:hover,
.open .dropdown-toggle.btn-primary {
    background-color: rgba(79,112,196,0.40);
    border-color: rgba(79,112,196,0.9);
}
.btn-primary:hover:before,
.btn-primary:focus:before,
.btn-primary:active:before,
.btn-primary.active:before,
.btn-primary.active:hover:before,
.open .dropdown-toggle.btn-primary:before {
    background-color: rgba(79,112,196,0.75);
}

.btn-warning ,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.active:hover,
.open .dropdown-toggle.btn-warning {
    background-color: rgba(230,126,34,0.40);
    border-color: rgba(230,126,34,0.9);
}
.btn-warning:hover:before,
.btn-warning:focus:before,
.btn-warning:active:before,
.btn-warning.active:before,
.btn-warning.active:hover:before,
.open .dropdown-toggle.btn-warning:before {
    background-color: rgba(230,126,34,0.75);
}

.btn-danger ,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.active:hover,
.open .dropdown-toggle.btn-danger {
    background-color: rgba(231,76,60,0.40);
    border-color: rgba(231,76,60,0.9);
}
.btn-danger:hover:before,
.btn-danger:focus:before,
.btn-danger:active:before,
.btn-danger.active:before,
.btn-danger.active:hover:before,
.open .dropdown-toggle.btn-danger:before {
    background-color: rgba(231,76,60,0.75);
}

.btn-success,
.btn-success:hover,
.btn-success:focus ,
.btn-success:active,
.btn-success.active,
.btn-success.active:hover,
.open .dropdown-toggle.btn-success {
    background-color: rgba(39,174,96,0.40);
    border-color: rgba(39,174,96,0.9);
}
.btn-success:hover:before,
.btn-success:focus:before,
.btn-success:active:before,
.btn-success.active:before,
.btn-success.active:hover:before,
.open .dropdown-toggle.btn-success:before {
    background-color: rgba(39,174,96,0.75);
}

.btn-info ,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.active:hover,
.open .dropdown-toggle.btn-info{
    background-color: rgba(166,184,122,0.40);
    border-color: rgba(166,184,122,0.9);
}
.btn-info:hover:before,
.btn-info:focus:before,
.btn-info:active:before,
.btn-info.active:before,
.btn-info.active:hover:before,
.open .dropdown-toggle.btn-info:before {
    background-color: rgba(166,184,122,0.75);
}

.btn-inverse,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.active:hover,
.open .dropdown-toggle.btn-inverse {
    color:#fff;
    background-color: rgba(35,48,60,0.40);
    border-color: rgba(35,48,60,0.9);
}
.btn-inverse:hover:before,
.btn-inverse:focus:before,
.btn-inverse:active:before,
.btn-inverse.active:before,
.btn-inverse.active:hover:before,
.open .dropdown-toggle.btn-inverse:before {
    background-color: rgba(35,48,60,0.75);
}

.btn-warning-alt,
.btn-warning-alt:hover,
.btn-warning-alt:focus,
.btn-warning-alt:active,
.btn-warning-alt.active,
.btn-warning-alt.active:hover,
.open .dropdown-toggle.btn-warning-alt {
    color:#fff;
    background-color: rgba(241,196,15,0.40);
    border-color: rgba(241,196,15,0.9);
}
.btn-warning-alt:hover:before,
.btn-warning-alt:focus:before,
.btn-warning-alt:active:before,
.btn-warning-alt.active:before,
.btn-warning-alt.active:hover:before,
.open .dropdown-toggle.btn-warning-alt:before {
    background-color: rgba(241,196,15,0.75);
}

.btn-default .caret {border-top-color:#454545;}
.btn-primary .caret, 
.btn-success .caret, 
.btn-warning .caret, 
.btn-danger .caret, 
.btn-info .caret, 
.btn-warning-alt .caret, 
.btn-inverse .caret  {
    border-top-color: #fff;
}
.dropup .btn-default .caret {border-bottom-color:#454545;}
.dropup .btn-primary .caret, 
.dropup .btn-success .caret, 
.dropup .btn-warning .caret, 
.dropup .btn-warning-alt .caret, 
.dropup .btn-danger .caret, 
.dropup .btn-info .caret, 
.dropup .btn-inverse .caret {
    border-bottom-color: #fff;
}

.btn-circle {
    text-align: center;
    width: 60px;
    height: 60px;
    position: relative;
    font-size: 26px;
    padding:0;
    border-width:2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.btn-circle i {line-height:60px;top:-5px;}

.btn-sm.btn-circle {
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.btn-sm.btn-circle i {line-height:50px;top:-4px;}

.btn-xs.btn-circle {
    width: 40px;
    height: 40px;
    font-size: 16px;
}
.btn-xs.btn-circle i {line-height:40px;top:-2px;}

.btn-group > .btn, .btn-group > .btn:hover, .btn-group > .btn.active, .btn-group > .btn.active:hover {border-color: rgba(0,0,0,0.4)!important;}

.btn-group.btn-group-justified .btn:not(:last-child) {border-right-color:transparent!important;}